html,
body,
* {
padding-right:40px;
padding-left: 40px;
box-sizing: border-box;
overflow: hiddenx; 

}

.head{
background-image: url(img/OWCC.png);
background-repeat: no-repeat;
background-size:contain;
background-position: center;
background-size: cover;
background-color:bisque ;
color:crimson;
}
.header{
    font-size:50px;
    text-align: center;
    
}
.parent{
    
    font-size: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content:space-between;

}

.child{
    border:10px solid rgb(22, 157, 119);
    width: 32%;
    padding-bottom:auto;
    margin-bottom: 2%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    text-align:center;
    color:blueviolet;
    display: flex;
    flex-direction: column;
    font-weight: 900;

}


.img{
    background-size: cover;
    
}

.styled {
    border: 2;
    line-height: 1.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 3px 3px 3px #000;
    border-radius: 10px;
    background-color: rgba(20, 145, 200, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}


.styled:hover {
    background-color: rgb(110, 238, 25);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.style1:hover {


    background-color: black;
  


}

.style2:hover {


    background-color: rgb(57, 57, 131);
  


}

.style3:hover {


    background-color: rgb(248, 247, 245);
  


}

.style4:hover {


    background-color: black;
  


}

.style5:hover {


    background-color: rgb(43, 48, 95);
  


}

.style6:hover {


    background-color: black;
  


}

.style7:hover {


    background-color: rgb(77, 98, 170);
  


}


.style8:hover {


    background-color: rgb(27, 27, 73);
  


}

.style9:hover {


    background-color: rgb(246, 246, 246);
  


}

.imgscaleup:hover {
    transform:scale(1.2);
    margin:23px;
    
    }

    .imgscaledown:hover {
        transform:scale(.9);
        
        }

        .imgscaleflip:hover {
            transform:scale(-1);
            
            }


@media screen and ( max-width: 768px) {
    .head{
       color:rgb(183, 0, 255);
    }
    .styled{
        color:red
    }
    


    }
        